@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap");
.btn:focus {
  outline: none;
  box-shadow: none; }

.btn-green {
  background: #8FA83B;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px; }

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: #4B4B4BCC; }

.title-page {
  font-family: 'Abhaya Libre', serif;
  color: #4B4B4BCC;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-block: 10px 25px; }

.btn {
  transition: all .5s linear; }

.btn:hover {
  background: #FF91AF !important;
  color: #fff !important; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.header {
  padding-block: 30px;
  background: #fff; }
  .header__nav {
    flex-wrap: wrap; }
    .header__nav .nav-list .navbar-nav {
      margin-left: auto; }
      .header__nav .nav-list .navbar-nav .nav-item {
        padding-inline: 25px;
        transition: all .5s ease; }
        .header__nav .nav-list .navbar-nav .nav-item:hover {
          border-radius: 5px;
          background: #8FA83B; }
          .header__nav .nav-list .navbar-nav .nav-item:hover .nav-link {
            color: #fff; }
        .header__nav .nav-list .navbar-nav .nav-item:not(:last-child) {
          border-right: 1px solid #DEDEDE; }
        .header__nav .nav-list .navbar-nav .nav-item .nav-link {
          padding: 0;
          color: #909090;
          font-size: 16px;
          font-weight: 400;
          line-height: normal; }
          .header__nav .nav-list .navbar-nav .nav-item .nav-link i {
            margin-left: 5px;
            color: inherit; }
        @media (max-width: 992px) {
          .header__nav .nav-list .navbar-nav .nav-item {
            border: none !important;
            padding-left: 0; } }
    .header__nav .nav-list .mini-cart span {
      position: absolute;
      right: -10px;
      top: -10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background: #8FA83B;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      color: #fff;
      border-radius: 50%; }
    .header__nav .nav-list .mini-cart,
    .header__nav .nav-list .search {
      all: unset;
      margin-left: auto;
      position: relative;
      cursor: pointer; }

.banner .carousel-item {
  height: 600px; }
  @media (max-width: 992px) {
    .banner .carousel-item {
      height: 450px; } }
  @media (max-width: 767px) {
    .banner .carousel-item {
      height: 250px; } }
  .banner .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.banner .carousel-controls {
  opacity: 1; }
  .banner .carousel-controls .carousel-icon {
    background-image: none;
    font-size: 25px; }

.footer {
  background: #4B4342;
  color: #fff;
  margin-top: 150px; }
  .footer__first .desc {
    line-height: 210%; }
  .footer__item .title {
    font-weight: 700;
    font-size: 22px; }
  .footer__item .list-info {
    padding-top: 20px; }
    .footer__item .list-info h6 {
      font-weight: 700; }
      .footer__item .list-info h6 span {
        font-weight: 400;
        margin-left: 7px; }
    .footer__item .list-info h6, .footer__item .list-info p {
      margin-bottom: 14px; }
  .footer .copy-right {
    border-top: 2px solid rgba(196, 196, 196, 0.2); }
    .footer .copy-right p {
      margin-bottom: 0;
      font-size: 14px; }

.banner-page {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding-block: 30px 200px; }
  @media (max-width: 992px) {
    .banner-page {
      padding-block: 30px 80px; } }
  .banner-page .banner-title {
    font-family: "Abhaya Libre", serif;
    color: #fff;
    font-size: 62px;
    font-weight: 400; }
